= link_to "expandir", "#",:class=>"hide_link", :id=>"expand_package_summary"
%table#modules_summary
  %thead
    %tr
      %th
      %th
        días
      %th#margins
        %span#text_margins m+n
      %th#profit
        %span#text_profit m
      %th#negociation
        %span#text_negociation n
      %th
        IGV
      %th
        total
  %tbody#packages_totals
    = render :partial =>"package_summary", :collection=>@proposal.packages
  %tfooter
  %tr#summary_calculation
    %td
      .module_name.small
        Total
    %td
      = @proposal.days
    %td
      = @proposal.margins
    %td.profit_margins
      = @proposal.profit_margins
    %td.negotiation_margins
      = @proposal.negotiation_margins
    %td
      = @proposal.taxes
    %td
      = @proposal.final_price
/
  modules_summary