%tr{:class=>cycle("odd","even")}
  %td
    .module_name.small{:title=>package_summary.name}= truncate(package_summary.name,15)
  %td
    = package_summary.days
  %td
    = package_summary.margins
  %td.profit_margins
    = package_summary.profit_margin
  %td.negotiation_margins
    = package_summary.negotiation_margin
  %td
    = package_summary.taxes
  %td
    = package_summary.final_price
    